@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* @apply bg-black; */
	background: rgba(0, 0, 0, 1);
	@apply overflow-x-hidden;
}

html {
	scroll-behavior: smooth;
}

/* body {
  background: #1f1f1f;
  color: #fff;
} */

input,
textarea {
	color: #000;
}

.backdrop-blur-lg {
	--tw-backdrop-blur: blur(20px); /* Adjust the blur value as needed */
	-webkit-backdrop-filter: var(--tw-backdrop-blur);
	backdrop-filter: var(--tw-backdrop-blur);
}

.backdrop-blur-md {
	--tw-backdrop-blur: blur(20px); /* Adjust the blur value as needed */
	-webkit-backdrop-filter: var(--tw-backdrop-blur);
	backdrop-filter: var(--tw-backdrop-blur);
}




.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.frosted-glass-text {
	font-size: 64px;
	font-weight: bold;
	color: white;
	position: relative;
	text-align: center;
	display: inline-block;
	filter: blur(3px); /* Apply blur effect to the text */
	text-shadow:
	  0 0 2px rgba(255, 255, 255, 0.8), /* subtle glow/outline effect */
	  0 0 5px rgba(255, 255, 255, 0.6), /* stronger outline */
	  0 0 10px rgba(255, 255, 255, 0.4); /* more glow/outline */
	z-index: 2; /* Ensure text is above the backdrop */
  }
  
  .frosted-glass-container {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	padding: 30px;
	border-radius: 12px;
	display: inline-block;
	position: relative;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	border: 2px solid rgba(255, 255, 255, 0.2);
  }

